.thumbnail img{
    max-height: 100px;
    max-width:150px;
}

.thumbnail .description{
    color: gray;
}

.price{
    font-weight: bold;
    font-size: 16px;
}

#gr{
    color: rgb(5, 45, 155);
}